config
credentials
.terraform
.vagrant
.idea
terraform.tfstate
terraform.tfstate.backup
*.tfstate.lock.info
kubeconfig_eks-*
config_elk-*
terraform-aws-eks/workspace/base/eks-*
.terraform.tfstate.lock.info
aws-iam-authenticator
s3_bucket_id
*_bak
/scripts/keybase_amd64.deb
es-eks-*
info
_data
tz-eks-backup*
/resources
cert
*.zip
kubeconfig_*